
<div class="sidebar" [class.open]="isCollapsed">
  <h3></h3>
  <div class="sidebar-menu">
    <a (click)="navigateTo('/home')">Home</a>
    <a (click)="navigateTo('/brands')">Brands</a>
    <a (click)="navigateTo('/categories')">Categories</a>
    <a (click)="navigateTo('/products')">Products</a>
    <a (click)="navigateTo('/stock-history')">Stock History</a>
    <a (click)="navigateTo('/report-generation')">Report Generation</a>
    <a *ngIf="isOwner" (click)="navigateTo('/employees')">Employee Details</a>
  </div>
</div>